<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NOTA Production</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="/assets/selectize/dist/css/selectize.css">
    <link rel="stylesheet" href="/assets/ion.rangeSlider/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="/assets/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css">
    <link rel="stylesheet" href="/assets/lightgallery/dist/css/lightgallery.min.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/media.css">
  </head>
  <body>
    <header class="main"><a href="/" class="logo"><img src="/images/logo.png" alt="NOTA production"></a>
      <div class="social-enter"><span>Войти через: </span><a href="" class="mr"></a><a href="" class="vk"></a><a href="" class="fb"></a><a href="" class="tw"></a><a href="" class="od"></a></div>
      <div class="phone"><span>+380 93 </span>123 45 67</div>
      <nav class="header-nav">
        <ul>
          <li><a href="/artists.html">Артисты</a></li>
          <li><a href="/events.html">Мероприятия</a></li>
          <li><a href="/photo.html">Фото</a></li>
          <li><a href="/video.html">Видео</a></li>
          <li><a href="/news.html">Новости</a></li>
          <li><a href="/about.html">О нас</a></li>
        </ul>
      </nav>
    </header>
    <div id="topSlider">
      <div class="item"><img src="/images/slide1.jpg">
        <div class="info"><img src="/images/slide-info.png" class="left">
          <div class="right">
            <h2>Заголовок слайда</h2>
            <p> Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время</p><a href="" class="btn btn-info">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="item"><img src="/images/slide1.jpg">
        <div class="info"><img src="/images/slide-info.png" class="left">
          <div class="right">
            <h2>Заголовок слайда</h2>
            <p> Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время</p><a href="" class="btn btn-info">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<section class="page page-single-artist">
  <h2>СТАС ШУРИНС</h2>
  <main class="wrapper wrapper-artist">
    <div class="desc">
      <div class="content"><img src="/images/artist-main.jpg">
        <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
        <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
      </div>
    </div>
    <div id="artistPhotos"><a href="/images/artist1.jpg" class="photo"><img src="/images/artist1.jpg"></a><a href="/images/artist2.jpg" class="photo"><img src="/images/artist2.jpg"></a><a href="/images/artist3.jpg" class="photo"><img src="/images/artist3.jpg"></a><a href="/images/artist4.jpg" class="photo"><img src="/images/artist4.jpg"></a><a href="/images/artist3.jpg" class="photo"><img src="/images/artist3.jpg"></a><a href="/images/artist3.jpg" class="photo"><img src="/images/artist3.jpg"></a><a href="/images/artist4.jpg" class="photo"><img src="/images/artist4.jpg"></a><a href="/images/artist2.jpg" class="photo"><img src="/images/artist2.jpg"></a></div>
    <div class="video">
      <h3>Видео</h3>
      <div class="light-gallery-wrapper"><a href="https://www.youtube.com/watch?v=meBbDqAXago" class="item">
          <h3>Название видео</h3><img src="/images/video-poster1.jpg" alt=""></a><a href="https://www.youtube.com/watch?v=meBbDqAXago" class="item">
          <h3>Название видео</h3><img src="/images/video-poster2.jpg" alt=""></a><a href="https://www.youtube.com/watch?v=meBbDqAXago" class="item">
          <h3>Название видео</h3><img src="/images/video-poster3.jpg" alt=""></a><a href="https://www.youtube.com/watch?v=meBbDqAXago" class="item">
          <h3>Название видео</h3><img src="/images/video-poster4.jpg" alt=""></a></div>
    </div>
    <div class="audio-block">
      <h3>Аудио</h3>
      <div class="audio-items">
        <div class="audio">
          <label for="">Название аудио</label>
          <audio src="/assets/music/1.mp3" controls></audio>
        </div>
        <div class="audio">
          <label for="">Название аудио</label>
          <audio src="/assets/music/1.mp3" controls></audio>
        </div>
        <div class="audio">
          <label for="">Название аудио</label>
          <audio src="/assets/music/1.mp3" controls></audio>
        </div>
        <div class="audio">
          <label for="">Название аудио</label>
          <audio src="/assets/music/1.mp3" controls></audio>
        </div>
        <div class="audio">
          <label for="">Название аудио</label>
          <audio src="/assets/music/1.mp3" controls></audio>
        </div>
        <div class="audio">
          <label for="">Название аудио</label>
          <audio src="/assets/music/1.mp3" controls></audio>
        </div>
      </div>
    </div>
    <div class="text-center"><a class="btn btn-info">Быстрый заказ</a></div>
    <form id="artist-order" class="artist-order">
      <header>Форма заказа</header>
      <div class="input-group">
        <div class="form-group">
          <label>Дата ивента</label>
          <input type="date" name="">
        </div>
        <div class="form-group">
          <label>Страна</label>
          <input type="text" name="">
        </div>
        <div class="form-group">
          <label>Город</label>
          <input type="text" name="">
        </div>
        <div class="form-group">
          <label>Место проведения</label>
          <input type="text" name="">
        </div>
        <div class="form-group">
          <label>Вместительность</label>
          <input type="number" name="">
        </div>
      </div>
      <div class="input-group">
        <div class="form-group">
          <label>Полное имя</label>
          <input type="text" name="">
        </div>
        <div class="form-group">
          <label>Название компании</label>
          <input type="text" name="">
        </div>
        <div class="form-group">
          <label>E-mail</label>
          <input type="email" name="">
        </div>
        <div class="form-group">
          <label>Номер телефона</label>
          <input type="tel" name="">
        </div>
        <div class="form-group">
          <label>Цена входа</label>
          <input type="text" name="">
        </div>
      </div>
      <div class="form-group">
        <label>Краткое описание мероприятия</label>
        <textarea></textarea>
      </div>
      <div class="text-right">
        <button class="btn btn-info">Отправить</button>
      </div>
    </form>
  </main>
</section><a class="btn btn-up"></a>
<footer class="main"><a href="" class="logo"><img src="/images/logo.png" alt=""></a>
  <div class="social-enter"><a href="" class="mr"></a><a href="" class="vk"></a><a href="" class="fb"></a><a href="" class="tw"></a><a href="" class="od"></a></div>
  <div class="phone"><span>+380 93 </span>123 45 67</div>
  <nav class="header-nav">
    <ul>
      <li><a href="/artists.html">Артисты</a></li>
      <li><a href="/events.html">Мероприятия</a></li>
      <li><a href="/photo.html">Фото</a></li>
      <li><a href="/video.html">Видео</a></li>
      <li><a href="/news.html">Новости</a></li>
      <li><a href="/about.html">О нас</a></li>
    </ul>
  </nav>
</footer>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="/assets/owl-carousel/owl.carousel.min.js"></script>
<script src="/assets/selectize/dist/js/standalone/selectize.min.js"></script>
<script src="/assets/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
<script src="/assets/lightgallery/dist/js/lightgallery-all.js"></script>
<script src="/scripts/main.js"></script>
<script>
  var photos = [
    {
      "src": 'http://www.allpbspb.ru/upload/iblock/fec/fec5a7d05160a56cb20ab71d35d0757c.jpg',
      'thumb': 'http://www.allpbspb.ru/upload/iblock/fec/fec5a7d05160a56cb20ab71d35d0757c.jpg'
    },
    {
      "src": 'http://img1.10bestmedia.com/Images/Photos/284863/Create-Nightclub-3_54_990x660.jpg',
      'thumb': 'http://img1.10bestmedia.com/Images/Photos/284863/Create-Nightclub-3_54_990x660.jpg'
    },
    {
      "src": 'https://upload.wikimedia.org/wikipedia/commons/6/64/Aerobarmiami.jpg',
      'thumb': 'https://upload.wikimedia.org/wikipedia/commons/6/64/Aerobarmiami.jpg'
    },
    {
      "src": 'http://mayaclubaz.com/wp-content/uploads/2015/08/Maya-Day-Nightclub-30.jpg',
      'thumb': 'http://mayaclubaz.com/wp-content/uploads/2015/08/Maya-Day-Nightclub-30.jpg'
    },
    {
      "src": 'http://www.newyorker.com/wp-content/uploads/2013/09/130930_r24027-1200.jpg',
      'thumb': 'http://www.newyorker.com/wp-content/uploads/2013/09/130930_r24027-1200.jpg'
    }
  ]
  
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>